{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete Evidence?</h1>
  <img src="{% static 'images/proof.png' %}" alt="genuine proof"/>
</div>
<h2>Are you sure you want to delete {{ object.evidence }}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'evidence_detail' evidence.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}