{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cryptid-detail.css' %}"
/>
<script defer src="{% static 'js/cryptid-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="cryptid-container">
  <div class="cryptid-img">
    <img 
      src="{% static 'images/placeholder.png' %}" 
      alt="A placeholder cryptid"
      class="card-img"
>
  </div>
  <div class="cryptid-details">
    <h1>{{ cryptid.name }}</h1>
    <h2>AKA {{ cryptid.other }}</h2>
    <h2>{{ cryptid.location }}</h2>
    <p>{{ cryptid.description }}</p>
    <div class="cryptid-actions">
      <a href="{% url 'cryptids_update' cryptid.id %}" class="btn warn">Edit</a>
      <a href="{% url 'cryptids_delete' cryptid.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="sightings-toy-container">
  <section class="sightings">
    <div class="subsection-title">
      <h2>Sightings</h2>
      <img 
        src="{% static 'images/binocs.png' %}" 
        alt="Binoculars"
      />
      {% comment %} <img 
        src="{% static 'images/binocs.png' %}" 
        alt="Binoculars"
      />
      <img 
        src="{% static 'images/binocs.png' %}" 
        alt="Binoculars"
      />{% endcomment %}
    </div>
    <h3>Add a Sighting</h3>
    <form
      action="{% url 'add_sighting' cryptid.id %}"
      method="post" 
      class="subsection-section"
    >

      {% if cryptid.sighted_today %}
        <p class="sighted">{{cryptid.name}} is active! Get some evidence!</p>
      {% else %}
        <p class="unsighted">There have been no {{cryptid.name}} sightings today.</p>
      {% endif %}
      
      {% csrf_token %}
      {{ sighting_form.as_p }}
      <button type="submit" class="btn submit">Add Sighting</button>
    </form>
    <h3>Past Sightings</h3>
    {% if cryptid.sighting_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Time of Day</th><th>Notes</th></tr>
      </thead>
      <tbody>
        {% for sighting in cryptid.sighting_set.all %}
          <tr>
            <td>{{sighting.date}}</td>
            <td>{{sighting.get_time_of_day_display}}</td>
            <td>{{sighting.notes}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="subsection-section">Add a {{cryptid.name}} sighting!</p>
    {% endif %}
  </section>
</div>

{% endblock %}
